body{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    margin-left: 0%;
    margin-right: 0%;
}

#barra-menu{
    
    background-color: #330867;
    position: fixed;
    display: flex;
    top: 0%;
    padding: 0rem 5% 0rem 5%;
    width: 100%;
    font-family: 'Chelsea Market', cursive;
}

#logo{
    display: flex;
    width: 50%;
}

#imagen-logo{
    height:6rem;
    width:50%;
    max-width: 280px;
}

#enlaces-menu{
    padding: 0% 9% 0% 4% ;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 400px){
    #enlaces-menu{
        flex-wrap: wrap;
    }
    #imagen-logo{
        width:100%;
    }
}

#enlace-barra{
    font-size: 100%;
    color: rgb(157, 209, 243);
}

#coral{
    margin-top:6rem;
    background-image: url(../imagenes/coral.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

#pez1{
    position:relative;
    width:50%;
    animation-name: animacion1;
    animation-timing-function:ease-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animacion1 {
    0%{
        left: 120%;
    }
    50%{
        left: 60%;
    }
    100%{
        left: -25%;
    }
}

#pez2{
    position:relative;
    width:80%;
    animation-name: animacion2;
    animation-timing-function:ease-out;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes animacion2 {
    0%{
        left: 120%;
    }
    50%{
        left: 30%;
    }
    100%{
        left: -55%;
    }
}

#pez3{
    position:relative;
    width:80%;
    animation-name: animacion3;
    animation-timing-function:ease-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes animacion3 {
    0%{
        left: 120%;
    }
    50%{
        left: 20%;
    }
    100%{
        left: -55%;
    }
}

#suscripcion-section{
    padding: 3rem 3rem 3rem 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    color:rgb(95, 17, 168);
    font-size: 2rem;
}

#submit{
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font-family: 'Chelsea Market', cursive;
    text-shadow: none;
    border-radius: 20px;
}

#email {
    margin-top:2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#campo-email {
    padding:0.7rem;
    margin-bottom: 1rem;
    width: 100%;
}

#grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "foto1 descripcion1 descripcion1"
        "foto2 descripcion2 descripcion2"
        "foto3 descripcion3 descripcion3";
    font-family: 'Chelsea Market', cursive;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    text-align: center;

}

#foto1 {
    grid-area: foto1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;;
}

#foto1 img {
    width: 90%;
}

#foto2 {
    grid-area: foto2;
    padding-left: 0.5rem;
    padding-right: 0.5rem;;
}

#foto2 img {
    width: 90%;
}

#foto3 {
    grid-area: foto3;
    padding-left: 0.5rem;
    padding-right: 0.5rem;;
}

#foto3 img {
    width: 90%;
}

#descripcion1 {
    grid-area: descripcion1;
    color:rgb(95, 17, 168);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#descripcion2 {
    grid-area: descripcion2;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    color:rgb(95, 17, 168);
}

#descripcion3 {
    grid-area: descripcion3;
    color:rgb(95, 17, 168);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}