body{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0px;
}

#barra-menu{
    
    background-color: #330867;
    position: fixed;
    display: flex;
    top: 0%;
    padding: 0rem 5% 0rem 5%;
    width: 100%;
    font-family: 'Chelsea Market', cursive;
    font-size: 1.5rem;
    z-index: 1;
}

#logo{
    display: flex;
    width: 50%;
    height:6rem;
}

#imagen-logo{
    min-width: 6rem;
    width:80%;
    max-width: 220px;
}

#enlaces-menu{
    padding: 0% 15% 0% 0% ;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 470px){
    #enlaces-menu{
        flex-direction: column;
        font-size: 1rem;
    
    }
    #imagen-logo{
        width:100%;
    }
}

#enlace-barra{
    margin-right: 0.5rem;
    font-size: 100%;
    color: rgb(157, 209, 243);
    text-decoration: none;
}

#coral{
    margin-top:6rem;
    background-image: url(../imagenes/coral.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

#pez1{
    position:relative;
    width:50%;
    animation-name: animacion1;
    animation-timing-function:ease-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes animacion1 {
    0%{
        left: 120%;
    }
    50%{
        left: 60%;
    }
    100%{
        left: -25%;
    }
}

#pez2{
    position:relative;
    width:80%;
    animation-name: animacion2;
    animation-timing-function:ease-out;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes animacion2 {
    0%{
        left: 120%;
    }
    50%{
        left: 30%;
    }
    100%{
        left: -55%;
    }
}

#pez3{
    position:relative;
    width:80%;
    animation-name: animacion3;
    animation-timing-function:ease-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes animacion3 {
    0%{
        left: 120%;
    }
    50%{
        left: 20%;
    }
    100%{
        left: -55%;
    }
}

#suscripcion-section{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    padding: 5rem 3rem 3rem 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Concert One', cursive;
    text-align: center;
    color:rgb(95, 17, 168);
    font-size: 2.5rem;
}

#submit{
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font-family: 'Chelsea Market', cursive;
    text-shadow: none;
    border-radius: 20px;
}

#email {
    margin-top:2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#campo-email {
    padding:0.7rem;
    margin-bottom: 1rem;
    width: 100%;
}

#video{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#footer {
    display:flex;
    margin-top: 1.5rem;
    padding: 0.5rem;
    background-color: #ddd;
    justify-content: flex-end;
    margin-top: 0rem;
    justify-content:center;
}